.navbar-nav{
    align-items: center;
}
#myslider{
    margin-top: 10px;
    
}
#mar {
    margin-top: 5px;
    background-color: red;
    color: white;
    
    
}
.move{
    color: aliceblue;
}
#mar  ul{
    margin-bottom: 0px;
        list-style-type:circle;
        height: 1.5em;
        width: 100%;

}
#mar  li{
    display: inline;
   
}
#mar li::after{
    content: "||";
    margin: 50px;
} 
#mar li::before{
    content: "||";
    margin: 50px;
}

.board{
    margin-top:15px ;
    margin-bottom: 10px;
    height: 30%;
  width: 25%;
}
#course{
    place-items: center;
    
}
#course #notice{
    display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#notice .col-md{
    
  border-radius: .5rem;
  box-shadow: 0 0 .3rem #333;
  margin: 5px;
  display: flex;
  align-items: center;
  flex-flow: column;
  
  overflow: hidden;
}
#notice .col-md p{
    text-align: center;

}
#notice .col-md h4{
    font-weight: 700;
    
}
 a{
    
    outline: none !important;
    text-decoration: none;
}
#notice .col-md .butto{
    display: inline-block;
    width: 35vh;
    height: 40wh;
    background:rgb(11, 179, 235);
    color: rgb(243, 242, 242);
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 15px;
    font-weight: bold;
    line-height: 25px;
    box-shadow: 1px 2px 0px 1px rgb(90, 87, 87);
    cursor: pointer;
    outline: none;
    

}

#wel{
    display: flex;
    margin-top: 15px;
    margin-bottom: 20px;

    box-shadow: 0 0 .3rem #333;
    border-radius: 5px;
    background-color: rgb(241, 241, 136);
    padding: 50px ;
}

#wel .welcome{
    margin: 10px;
}

.welcome h2{
    margin-top: -30px;
    text-align: center;
    color: maroon;
}

.welcome p{
    margin-top: 20px;
    justify-content: center;
    text-align: justify;
}
#con{
    background: #464646;
    margin-top: 20px;
    margin-bottom: 20px;
}
.head{
    margin-top: 15px;
    margin-bottom: -15px;
    font-weight: 700;
    text-align: center;

    color:  #464646;

}
#count .row .col-md{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    place-items: center;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  
}
#count .row .bd-1{
    border-right: 1px solid rgb(253, 253, 253);
    
}
#count .row .bd-2{
    border-right: 1px solid rgb(253, 253, 253);
    
}
#count .row .bd-3{
    border-right: 1px solid rgb(253, 253, 253);
    
    
}

#count .row .col-md .fa{
    font-size: 50px;
    margin-top: 20px;
    color: white;

}
#count .row .col-md .counter{
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    color: #fffbfb;
    text-align: center;
    display: inline-block;
}
#count .row .col-md p{
    color: white;
    font-size: 20px;
    font-weight: bold;
}
.navbar{
    box-shadow:0 0 20px 0 rgba(0, 0, 0, 0.18);
}


@media  (max-width: 700px) {
    #wel{
        width: 90%;
        padding:5px;
        
    }
    .welcome{
        padding:0px;
        margin: 0px;
    }
    .welcome h2{
        margin: 0px;
        font-size: 20px;
    }
    .welcome p{
        font-size: 15px;
    }
    #notice .col-md .butto{
        width: auto;
    }
    #fot iframe{
        width: auto;
        height: auto;
    }
    
}

.ntboard{
    width:100%;
    height:500px;
}
.cm h2{
    color: #111111;
    font-size: 150%;
    font-weight: bold;
    padding: 0px 0px 10px 0px;
    background: none;
    border-bottom: 2px solid rgb(17, 17, 17);
    display: table-cell;
    }
.hi1{
    margin-bottom: 20px;
    margin-top: 20px;
}
#pri{
    background-color: rgb(116, 240, 116);
    margin-top: 47px;
    
}
   
.head1{
    padding: 30px;
    

}
.notice-board{
    background-color: rgb(47, 131, 240);
    border: 7px solid rgb(20, 119, 231);
    
}   
.ntboard a{
    color: white;
   
    
}  
.ntboard p{
    background-color:rgb(20, 119, 231);; 
    padding:5px;
    border:1px solid #000;
    margin:-2px;
    
}
   
#not{
    margin-bottom: 20px;
}

#not h2{
    text-align: center;
}
#fot h5{
    margin-top:50px ;
    margin-bottom:30px ;
}
#fot iframe{
    margin-top: -15px;
    margin-bottom: 10px;
}
.nav-item{
    font-family: 'Ubuntu', sans-serif;
    font-weight:bold;
}
.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 23px !important;
    font-weight: bold;
}
.nav-item > .dropdown:hover .dropdown-menu{
    display: block;
    
}
.nav-item>a:hover {
    background-color: rgb(173, 179, 173) ;
    color: #000 !important;
}
.active>a{
    border-bottom:2px solid rgb(53, 114, 235) !important;
    color: black !important;
}
.dropdown>a:hover{
    background-color: rgb(173, 179, 173) ;
    color: #000 !important;
}
.dropdown-toggle::after {
    display: none !important;
}

/*syllabus*/
.mu-latest{
    padding: 25px;
}
 .mu-head{
    padding:5px; background-color:#E8E8E8; font-size:17px;
 }
.card-1,.card-hd{
background-color:#E8E8E8 !important;
border: 0 !important;
padding: 0 !important;
margin-bottom: 20px;
}
.card-1{
    box-shadow: 0 2px 25px 0 rgba(197, 195, 199, 0.18);
}
.btn-link{
    width: 100%;
    height: 60px ;
    color: #000 !important;
    font-weight: bold !important;
    text-align: left !important;
    text-decoration: none !important;
    background-color: #E8E8E8;
}
.card-bd{
    background-color: #ffffff;
}
.btn-link::after{
    content: '\2212';
    width: 35px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute;
}
.btn-link.collapsed::after{
    content: '\002B';
}
.card-bd::before{
    content: ' ';
    height: 25px;
    width: 25px;
    position: absolute;
    background: #E8E8E8;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 46px;

}
#syllabus{
    margin-top: 25px;
}
.sy-head{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
}
.dep a{
    color: black;
    text-decoration: none;

}

.dep p{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    
}

/*share*/
.ct-socials {
    position: fixed;
    top: 25%;
    right: 0;
    list-style: none;
    padding-left: 0;
    z-index: 10;
    margin: 0;
    transition: right 0.25s ease-in-out;
    display: flex;
    flex-direction: column;
}
.ct-socials li {
    padding: 0px 0;
}
.ct-socials li a {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 8px 10px  rgba(0, 0, 0, 0.18);
    width: 44px;
    height: 54px;
    transition: all 0.15s ease-in-out;
    float: right;
    padding-left: 5px;
}
.ct-socials li a:hover{
width: 54px;
padding-left: 0;
text-decoration: none;

}
.fa-facebook{
    color: #1877f2 ;
}
.fa-twitter{
    color: #1da1f2;
}
.fa-linkedin{
    color: #0077b5;
}
.fa-whatsapp{
    color: #075e54;
}
.fab{
    font-size: 25px;
}
/*payment*/
#forms{
    margin: 10px auto;
    
    box-shadow: 0 5px 25px 0 rgba(0, 0, 0, 0.18);
}
#forms .input-group-addon{
    padding: 8px;
    border-radius: 15px;
}
#forms .input-group{
    background-color: #e2dede;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-radius: 2px;
}
#forms .form-group{
    margin: 10px;
}
/*about*/
#chart{
    align-items: center;
    justify-content: center;
    margin: 50px;
    padding-bottom: 50px;

}
/*contact*/
#contact-form label{
    color: #333
    
}

#contact-form .btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 80%;
    margin-left: 3px
}

#contact-form.help-block.with-errors {
    color: #ff5050;
    margin-top: 5px
}

#contact-form .card {
    margin-left: 10px;
    margin-right: 10px
}
#contact-form h1 {
    margin-bottom: 10px
}
#contact-form .col-md-6{
    margin-bottom: 25px;
}
#contact-form .form-group label{
    margin-bottom: 5px;
}
#contact-form{
    margin-bottom: 50px;
}
@media (max-width:600px) {
    .table,thead,tbody{
               font-size: 12.5px;
               }
    .sy-head{
        font-size: 16px;
        margin: 0px;
        
        height: 34px;
    } 
    
    .navbar-brand img{
               width: 100%;
    } 
    .navbar-brand{
        width: 70%;
    } 
    #chart img{
        width: 100%;
    }      
}

 